.container {
    width: 100px;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    overflow: hidden;
    position: absolute;
    top: 18px;
    left: 18px;
    border-radius: 24px;
    box-shadow: 10px 20px 50px rgba(4,11,36, .6);
    padding: 25px 0 40px 0;
}

.container h1 {
    color: #ffffff;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    cursor: default;
}

.container img {
    margin-top: 40px;
    object-fit: contain;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.container img:last-child {
    margin-top: auto;
}

.k {
    background-color: unset;
    position: absolute;
    display: flex;
    align-items: center;
    right: 50px;
    top: 35px;
    z-index: 1;
}

.k img {
    margin-left: 10px;
    transform: scale(.8);
    cursor: pointer;
}

.k ul {
    position: absolute;
    right: 0;
    top: 40px;
    list-style: none;
    z-index: 1;
    background-color: #ffffff;
    padding: 5px 8px;
    border: 1px solid #ACB8C2;
    border-radius: 8px;
}

.k li {
    width: 120px;
    font-size: 13px;
    cursor: pointer;
}

.k li:hover {
    background-color: var(--grey);
}

.k li:first-child {
    margin-bottom: 5px;
    border-bottom: 1px dashed #000000;
}

.k li:last-child {
    border-top: 1px dashed #000000;
}